.calendar_content{
    width: 80%;
    height: 80%;
    align-items:center;
    margin-top: 30px ;
    margin-left: auto ;
    margin-right: auto ;
    background-color: rgba(255,255,255,0.8);
}

.Separator{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #746fb3;
}

.Title{
    color: #746fb3;
}

.Select{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Table{
    margin-left: auto;
    margin-right: auto;
}
.Cell{
    width: 300px;
    height: 70px;
<<<<<<< Updated upstream
}
=======
}

>>>>>>> Stashed changes
